In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

data = pd.read_csv("./housing/train.csv", encoding = "UTF-8")
test = pd.read_csv("./housing/test.csv", encoding= 'UTF-8')

In [5]:
#데이터 컬럼 확인
data.columns

Index(['id', 'Overall Qual', 'Gr Liv Area', 'Exter Qual', 'Garage Cars',
       'Garage Area', 'Kitchen Qual', 'Total Bsmt SF', '1st Flr SF',
       'Bsmt Qual', 'Full Bath', 'Year Built', 'Year Remod/Add',
       'Garage Yr Blt', 'target'],
      dtype='object')

데이터 컬럼에 띄어쓰기가 존재하여 향후 변수를 다룰 때 불편함이 있을 수 있다.
 띄어쓰기를 _(under bar)로 대체하는 것이 좋다.
 또한, 불피요한 변수인 id를 제거할 예정.

In [6]:
#데이터 차원 확인
data.shape

(1350, 15)

In [7]:
#test 데이터 차원 확인
test.shape

(1350, 14)

data(train data)와 test(test data)는 target 변수를 제외하고 차원이 같은 것을 알 수 있다.

In [9]:
#data 타입 확인
data.dtypes

id                 int64
Overall Qual       int64
Gr Liv Area        int64
Exter Qual        object
Garage Cars        int64
Garage Area        int64
Kitchen Qual      object
Total Bsmt SF      int64
1st Flr SF         int64
Bsmt Qual         object
Full Bath          int64
Year Built         int64
Year Remod/Add     int64
Garage Yr Blt      int64
target             int64
dtype: object

수치형 변수 11개 범주형 변수 3개 확인

In [10]:
# data 와 test의 id 제거
data.drop(['id'], axis=1, inplace = True)
test.drop(['id'], axis=1, inplace = True)

In [11]:
#데이터 결측치 확인
data.isnull().sum()

Overall Qual      0
Gr Liv Area       0
Exter Qual        0
Garage Cars       0
Garage Area       0
Kitchen Qual      0
Total Bsmt SF     0
1st Flr SF        0
Bsmt Qual         0
Full Bath         0
Year Built        0
Year Remod/Add    0
Garage Yr Blt     0
target            0
dtype: int64

In [12]:
test.isnull().sum()

Overall Qual      0
Gr Liv Area       0
Exter Qual        0
Garage Cars       0
Garage Area       0
Kitchen Qual      0
Total Bsmt SF     0
1st Flr SF        0
Bsmt Qual         0
Full Bath         0
Year Built        0
Year Remod/Add    0
Garage Yr Blt     0
dtype: int64

data(train data)와 test(test data)의 결측치를 확인해보니 이번 프로젝트에선 결측치가 주어지지 않았습니다. 결측치 처리를 할 필요 없이 변수 명을 변경하고 데이터 EDA와 전처리 작업을 시작했습니다.

In [13]:
# data & test 데이터 속성명 변경
data.columns=['overall_qual', 'gr_liv_area', 'exter_Qual', 'garage_cars',
       'garage_area', 'kitchen_qual', 'total_bsmt_sf', '1st_flr_sf',
       'bsmt_qual', 'full_bath', 'year_Built', 'year_remod/add',
       'garage_yr_blt', 'target']


test.columns=['overall_qual', 'gr_liv_area', 'exter_Qual', 'garage_cars',
       'garage_area', 'kitchen_qual', 'total_bsmt_sf', '1st_flr_sf',
       'bsmt_qual', 'full_bath', 'year_Built', 'year_remod/add',
       'garage_yr_blt']

,overall_qual,gr_liv_area,exter_Qual,garage_cars,garage_area,kitchen_qual,total_bsmt_sf,1st_flr_sf,bsmt_qual,full_bath,year_Built,year_remod/add,garage_yr_blt
0,9,1800,Gd,2,702,Ex,1800,1800,Ex,2,2007,2007,2007
1,6,1082,TA,1,240,TA,1082,1082,TA,1,1948,1950,1948
2,6,1573,Gd,2,440,Gd,756,769,Gd,2,2000,2000,2000
3,6,2443,Gd,3,744,Gd,1158,1158,Gd,2,2004,2004,2004
4,5,1040,TA,2,686,TA,1040,1040,TA,1,1968,1968,1991